<p>Hi <%= @recipient_name %>,</p>
  <p>Kreyos makes every run, ever workout, every move count. When you know it counts, <br />
  	you get the motivation you need to get fitter, faster and more active than ever before. <br />
  	Join <a href="kreyos.nesventures.net" target="_blank">Kreyos</a> and start earning NikeFuel, see insights about your performance, even find out what to do next</p>
<p>Regards,<br/>
  <%= @sender %><br>
</p>